[defaults]
inventory = inventories/production.ini
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = false
stdout_callback = yaml
host_key_checking = false

[ssh_connection]
pipelining = true

